.pr_base {
    position: fixed;
    left: calc(50% - 150px - 1px);
    top: calc(50% - 150px - 1px);

    width: 300px;
    height: 300px;

    background: #fff;
    color: #000;
    text-align: center;

    border-radius: 3px;
    border: 1px solid #999;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.3);
}

.pr_nav {
    height: 40px;
    line-height: 40px;
    
    width: 100%;
}

.pr_body {
    height: 260px;
    width: 100%;
}

.pr_nav_button {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px;

    font-size: 10px;
    
    cursor: pointer;
}

.pr_nav_button:hover {
    text-decoration: underline;
}

.pr_nav_back {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    background: #f00;
    cursor: pointer;
}

#pr_body_word {
    height: 180px;
    line-height: 180px;
    font-size: 30px;
    width: 100%;
}

#pr_body_player {
    height: 70px;
    padding: 10px 0 0 0;
    text-align: center;
}

#pr_body_button_play {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #333;
    cursor: pointer;
    border-radius: 30px;
}
#pr_body_button_prev {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f00;
    cursor: pointer;
    margin: 0 5px 15px 0;
}
#pr_body_button_next {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f00;
    cursor: pointer;
    margin: 0 0 15px 5px;
}